@if (Request.IsAuthenticated)
{
    <span class="like-container" style="display: none;">
        <button type="button" class="btn btn-success btn-sm" onClick="likeThisPage();">
            <span>Like</span>
        </button>
    </span>

    <span class="unlike-container" style="display: none;">
        <button type="button" class="btn btn-success btn-sm" onClick="unlikeThisPage();">
            <span>Unlike</span>
        </button>
    </span>
}

    <span>Liked by: <span id="likes-counter">(loading....)</span> users.</span>